<div class="am-g am-container">
  <div class="am-cf am-padding">
	  <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">资料卡</strong> / <small>Profile</small></div>
	</div>
  <div class="am-u-sm-12 am-u-md-6">
    <div class="am-panel am-panel-default">
      <div class="am-panel-bd am-cf">
        <div class="am-u-sm-4">
          <img src="https://static.1cf.co/img/avatar/<{$userinfo['avatar']}>" class="am-img-responsive am-img-thumbnail" />
        </div>
        <div class="am-u-sm-8">
          <div>注册时间：</div>
          <div>用户名 : </div>
					<div>性别 : </div>
					<div>电子邮箱 : </div>
					<div>注册时间 : </div>
        </div>
      </div>
    </div>
  </div>
  <div class="am-u-sm-12 am-u-md-6">
    <div class="am-panel am-panel-default">
        <div class="am-panel-bd">这是一个基本的面板组件。</div>
    </div>
  </div>

</div>