<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>致谢 | 一分钱助学</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="https://static.1cf.co/favicon.png">
  <link rel="stylesheet" href="https://static.1cf.co/css/amazeui.min.css"/>
  <link rel="stylesheet" href="https://static.1cf.co/css/ocf.css"/>
  <style>
	.item {
		padding:10px;
	}
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
</style>
</head>
<body>

<?php
include("header.php");
?>


<div class="am-container">
<article class="am-article">

  <div class="am-article-bd">
  	<div id="tool" class="am-g">
		<p class="am-text-xl">特别鸣谢</p><hr>
		<ul class="am-avg-sm-1 am-avg-md-2">
			<li class="item">
				<p>项目由江苏微软创新中心孵化，感谢其在项目技术上为我们提供的指导与帮助</p>
				<p><center><img src="https://img.1cf.co/res/credits/jsmic.png" class="am-img-responsive am-img-thumbnail am-radius" /></center></p>
			</li>
			<li class="item">
				<p>Teambition为我们项目提供流畅协作体验，助力我们在公益的路上走的更远</p>
				<p><center><a href="https://www.teambition.com/" target="_blank"><img src="https://img.1cf.co/res/credits/teambition.png" class="am-img-responsive am-img-thumbnail am-radius" /></a></center></p>
			</li>
			<li class="item">
				<p>六和塾企业教练大咖提供创业创新指导，成为一分钱助学项目的加速器</p>
				<p><center><a target="_blank"><img src="https://img.1cf.co/res/credits/lhs.png" class="am-img-responsive am-img-thumbnail am-radius" /></a></center></p>
			</li>
		</ul>
	</div>
	<div id="tool" class="am-g">
		<p class="am-text-xl">开发工具</p><hr>
		<ul class="am-avg-sm-1 am-avg-md-2">
			<li class="item">
				<p>使用Visual Studio 2015开发，<s>感谢巨硬</s>微软大大么么哒</p>
				<p><center><a href="https://www.visualstudio.com/" target="_blank"><img src="https://img.1cf.co/res/credits/vs2015.png" class="am-img-responsive am-img-thumbnail am-radius" /></a></center></p>
			</li>
		</ul>
	</div>
	<div id="tool" class="am-g">
	<p class="am-text-xl">平台相关</p><hr>
		<ul class="am-avg-sm-1 am-avg-md-2">
			<li class="item">
				<p>感谢云适配Amaze UI强力推动</p>
				<p><center><a href="http://www.amazeui.org" target="_blank"><img src="https://img.1cf.co/res/credits/amaze.png" class="am-img-responsive am-img-thumbnail am-radius" /></a></center></p>
			</li>
			<li class="item">
				<p>平台由Windows Azure强力驱动</p>
				<p><center><a href="https://azure.microsoft.com/" target="_blank"><img src="https://img.1cf.co/res/credits/azure.png" class="am-img-responsive am-img-thumbnail am-radius" /></a></center></p>
			</li>
			<li class="item">
				<p>平台应用部分Microsoft Cognitive Services的API</p>
				<p><center><a href="https://www.microsoft.com/cognitive-services/" target="_blank"><img src="https://img.1cf.co/res/credits/mcs.png" class="am-img-responsive am-img-thumbnail am-radius" /></a></center></p>
			</li>
			<li class="item">
				<p>统计图表使用了开源项目ECharts</p>
				<p><center><a href="https://github.com/ecomfe/echarts" target="_blank"><img src="https://img.1cf.co/res/credits/echarts.png" class="am-img-responsive am-img-thumbnail am-radius" /></a></center></p>
			</li>
		</ul>
	</div>
	<div id="people">
		<p class="am-text-xl">感谢所有媛猿员 <small class="am-text-default" style="color:#333;">排名按首字母排序，不分先后</small></p><hr>
		<h2>行政（AD）</h2>
		<p>刘承枢、陆文瑄、田甜、张澄璐、张灵欣、张佑杰</p>
		<h2>财务（AD-F）</h2>
		<p>【空缺】</p>
		<h2>法律（AD-L）</h2>
		<p>【空缺】</p>
		
		<h2>人事（HR）</h2>
		<p>梁亦欣、潘慧灵、吴琼、万子昂</p>	
		<h2>记录（HR-A）</h2>
		<p>马文欣、施星宇、徐佳妍</p>
		<h2>题库（HR-VOL）</h2>
		<p>刘梓裕、王新哲、张佑杰</p>
		
		<h2>宣传（MT-M）</h2>
		<p>陈岑、葛晴川、居昊祺、吕可辰、严菲、周楠、郑又菲</p>	
		<h2>开发/技术（MT-T）</h2>
		<p>洪学林、李龙、梁潇、王新哲、夏子煜、虞泽宽、朱佟、张宁、张佑杰</p>
		
		<h2>公关（PR）</h2>
		<p>范馨月、薛烺、周楠</p>
		<h2>外联（PR-L）</h2>
		<p>黄漪然、刘梓裕</p>
		<h2>市场（PR-M）</h2>
		<p>汤心悦、袁杭</p>
		
		<h2>技术安全与运维（SE）</h2>
		<p>何颖</p>
		
	</div>
	<div id="people" style="margin-top:50px;">
		<p class="am-text-xl">指导的大拿们 <small class="am-text-default" style="color:#333;">排名按首字母排序，不分先后</small></p><hr>
		<h2>技术指导</h2>
		<p>倪震祥（江苏省扬州中学计算机教研组组长）</p>
		<h2>项目指导</h2>
		<p>王舒成（江苏省扬州中学高级教师）、王为松、王雄（江苏省扬州中学历史教研组组长）</p>
	</div>
  </div>
</article>
   

  </div>

<footer class="footer">
  	<?php
	include("footer.php");
	?>
</footer>
<!--[if lt IE 9]>
<script src="https://static.1cf.co/mirror/jquery/1.11.1/jquery.min.js"></script>
<script src="https://static.1cf.co/mirror/modernizr/2.8.3/modernizr.js"></script>
<script src="https://static.1cf.co/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="https://static.1cf.co/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="https://static.1cf.co/js/amazeui.min.js"></script>
<script src="https://static.1cf.co/js/ocf.js"></script>
</script>
</body>
</html>