<footer class="ocf-footer am-print-hide">
<div class="am-g am-container am-text-center">
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-map-marker am-icon-lg ocf-icon-map"></i></p>
		<p>扬州市广陵区淮海路18号 江苏省扬州中学</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-phone-square am-icon-lg ocf-icon-phone"></i></p>
		<p>18752782679</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-envelope am-icon-lg ocf-icon-envelope"></i></p>
		<p>contact@1cf.co</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box" style="background:#171717;">
		<p>
			<a class="ocf-icon-share am-icon-qq" href="http://connect.qq.com/widget/shareqq/index.html?url=https://www.1cf.co/&title=一分钱助学&summary=快来看！我在一分钱助学答题，没有花一分钱就帮助了这么多人！还有谁比我厉害？？https://www.1cf.co/" target="_blank"></a>
			<a class="ocf-icon-share am-icon-weibo" href="http://service.weibo.com/share/share.php?url=https://www.1cf.co/&title=一分钱助学 快来看！我在一分钱助学答题，没有花一分钱就帮助了这么多人！还有谁比我厉害？？https://www.1cf.co/&appkey=2992571369&pic=&ralateUid=#_loginLayer_1468413783940" target="_blank"></a>
			<a class="ocf-icon-share am-icon-tencent-weibo" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=https://www.1cf.co/&title=一分钱助学&summary=快来看！我在一分钱助学答题，没有花一分钱就帮助了这么多人！还有谁比我厉害？？https://www.1cf.co/" target="_blank"></a>
			<a class="ocf-icon-share am-icon-renren" href="http://widget.renren.com/dialog/share?resourceUrl=https://www.1cf.co/&srcUrl=https://www.1cf.co/&title=一分钱助学&description=快来看！我在一分钱助学答题，没有花一分钱就帮助了这么多人！还有谁比我厉害？？https://www.1cf.co/" target="_blank"></a>
		</p>
		<p style="color:#404040;">
		一分钱助学 版本1.0<br>
		&copy; 2016 扬州市多公益发展中心<br>
		由 <i class="am-icon-windows"></i> 江苏微软创新中心 孵化<br>
		<a href="http://www.miibeian.gov.cn/" target="_blank">黔ICP备16006126号-3</a>
		</p>
	</div>
</div>
</footer>


<div class="am-print-block">
	<h1>本页面禁止打印</h1>
		<p>
			<i class="am-icon-map-marker am-icon-normal ocf-icon-map"></i>
			扬州市广陵区汤汪乡杉湾花园92幢-101室 杉湾花园邻里中心
		</p>
		<p>
			<i class="am-icon-phone-square am-icon-normal ocf-icon-phone"></i>
			18752782679
		</p>
		<p>
			<i class="am-icon-envelope am-icon-normal ocf-icon-envelope"></i>
			contact@1cf.co
		</p>
		<p>
		一分钱助学 版权所有<br>
		&copy; 2016 扬州市多公益发展中心<br>
		由 <i class="am-icon-windows"></i> 江苏微软创新中心 孵化<br>
		</p>
</div>