<footer class="ocf-footer am-print-hide">
<div class="am-g am-container am-text-center">
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-map-marker am-icon-lg ocf-icon-map"></i></p>
		<p>扬州市广陵区汤汪乡杉湾花园92幢-101室 杉湾花园邻里中心</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-phone-square am-icon-lg ocf-icon-phone"></i></p>
		<p>18752782679</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-envelope am-icon-lg ocf-icon-envelope"></i></p>
		<p>contact@1cf.co</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box" style="background:#171717;">
		<p>
			<span class="ocf-icon-share am-icon-qq"></span>
			<span class="ocf-icon-share am-icon-weibo"></span>
			<span class="ocf-icon-share am-icon-tencent-weibo"></span>
			<span class="ocf-icon-share am-icon-weixin"></span>
		</p>
		<p style="color:#404040;">
		一分钱助学 开发者预览版<br>
		&copy; 2016 扬州市多公益发展中心<br>
		由 <i class="am-icon-windows"></i> 江苏微软创新中心 孵化<br>
		<a href="http://www.miibeian.gov.cn/" target="_blank">黔ICP备16006126号-3</a>
		</p>
	</div>
</div>
</footer>


<div class="am-print-block">
	<h1>本页面禁止打印</h1>
		<p>
			<i class="am-icon-map-marker am-icon-normal ocf-icon-map"></i>
			扬州市广陵区汤汪乡杉湾花园92幢-101室 杉湾花园邻里中心
		</p>
		<p>
			<i class="am-icon-phone-square am-icon-normal ocf-icon-phone"></i>
			18752782679
		</p>
		<p>
			<i class="am-icon-envelope am-icon-normal ocf-icon-envelope"></i>
			contact@1cf.co
		</p>
		<p>
		一分钱助学 版权所有<br>
		&copy; 2016 扬州市多公益发展中心<br>
		由 <i class="am-icon-windows"></i> 江苏微软创新中心 孵化<br>
		</p>
</div>