<!--手机提示-->
<div id="ocf-app-tips" class="am-panel am-panel-default am-animation-slide-bottom am-animation-delay-2 am-show-sm-only" style="margin-bottom: 0px;background:rgba(255,255,255,1);position:fixed;left:0;right:0;bottom:0;z-index:999;box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.12), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);border:none;" data-am-alert>
	<script>
		var ua = window.navigator.userAgent.toLowerCase();
		if(ua.match(/ocf-lite/i) == 'ocf-lite'){
			document.getElementById('ocf-app-tips').style.cssText='display: none!important;';
		}else if(ua.match(/ocf-full/i) == 'ocf-full'){
			document.getElementById('ocf-app-tips').style.cssText='display: none!important;';
		}
	</script>
	<div class="am-panel-bd">
		<h2 class="am-u-sm-12" style="margin-bottom:1.25rem;">试试全新的App吧！<button type="button" class="am-close" style="float:right;">&times;</button></h2>
		<div style="margin-bottom:1.25rem;">	
			<a href="https://1cf.co/app"><img src="https://static.1cf.co/img/app/logo.png" style="width:20%;"/></a>
			<p style="padding-left:10px;width:80%;float:right;margin:0;">使用Material Design设计标准设计的安卓APP就在这里。现在，签到、运动、早起都可以获取积分啦！</p>
		</div>
		<a href="https://1cf.co/app"><button type="button" class="am-btn am-btn-success am-btn-block am-radius"><i class="am-icon-android"></i> 下载一分钱助学APP</button></a>
		<a href="ocf://?source=1cf.co"><button type="button" style="margin-top: 1.25rem;" class="am-btn am-btn-primary am-btn-block am-radius"><i class="am-icon-mobile-phone"></i> 已经安装了？打开APP</button></a>
	</div>
</div>
<footer class="ocf-footer am-print-hide" id="ocf-footer">
<script>
	var ua = window.navigator.userAgent.toLowerCase();
	if(ua.match(/ocf-lite/i) == 'ocf-lite'){
		document.getElementById('ocf-footer').style.cssText='display:none;';
	}else if(ua.match(/ocf-full/i) == 'ocf-full'){
		document.getElementById('ocf-footer').style.cssText='display:none;';
	}
</script>
<div class="am-g am-container am-text-center">
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-map-marker am-icon-lg ocf-icon-map"></i></p>
		<p>扬州市广陵区淮海路18号<br>江苏省扬州中学</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-phone-square am-icon-lg ocf-icon-phone"></i></p>
		<p>18752782679</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box">
		<p><i class="am-icon-envelope am-icon-lg ocf-icon-envelope"></i></p>
		<p>contact@1cf.co</p>
	</div>
	<div class="am-u-md-3 ocf-footer-box" style="background:#171717;">
		<p>
			<a class="ocf-icon-share am-icon-qq" href="http://connect.qq.com/widget/shareqq/index.html?url=https://www.1cf.co/&title=一分钱助学&summary=快来看！我在一分钱助学答题，没有花一分钱就帮助了这么多人！还有谁比我厉害？？https://www.1cf.co/" target="_blank"></a>
			<a class="ocf-icon-share am-icon-weibo" href="http://service.weibo.com/share/share.php?url=https://www.1cf.co/&title=一分钱助学 快来看！我在一分钱助学答题，没有花一分钱就帮助了这么多人！还有谁比我厉害？？https://www.1cf.co/&appkey=2992571369&pic=&ralateUid=#_loginLayer_1468413783940" target="_blank"></a>
			<a class="ocf-icon-share am-icon-tencent-weibo" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=https://www.1cf.co/&title=一分钱助学&summary=快来看！我在一分钱助学答题，没有花一分钱就帮助了这么多人！还有谁比我厉害？？https://www.1cf.co/" target="_blank"></a>
			<a class="ocf-icon-share am-icon-renren" href="http://widget.renren.com/dialog/share?resourceUrl=https://www.1cf.co/&srcUrl=https://www.1cf.co/&title=一分钱助学&description=快来看！我在一分钱助学答题，没有花一分钱就帮助了这么多人！还有谁比我厉害？？https://www.1cf.co/" target="_blank"></a>
		</p>
		<p style="color:#404040;">
		一分钱助学 版本1.0<br>
		&copy; 2016 一分钱助学<br>
		由 <i class="am-icon-windows"></i> 江苏微软创新中心 孵化<br>
		<a href="http://www.miibeian.gov.cn/" target="_blank">黔ICP备16006126号-3</a>
		<p>
		<a href="https://internetdefenseleague.org"><img style="width:20%;" src="https://static.1cf.co/img/shield_badge.png" alt="Member of The Internet Defense League"/></a>
		</p>
		</p>
		
	</div>
</div>
</footer>


<div class="am-print-block">
	<h1>本页面禁止打印</h1>
		<p>
			<i class="am-icon-map-marker am-icon-normal ocf-icon-map"></i>
			扬州市广陵区汤汪乡杉湾花园92幢-101室 杉湾花园邻里中心
		</p>
		<p>
			<i class="am-icon-phone-square am-icon-normal ocf-icon-phone"></i>
			18752782679
		</p>
		<p>
			<i class="am-icon-envelope am-icon-normal ocf-icon-envelope"></i>
			contact@1cf.co
		</p>
		<p>
		一分钱助学 版权所有<br>
		&copy; 2016 扬州市多公益发展中心<br>
		由 <i class="am-icon-windows"></i> 江苏微软创新中心 孵化<br>
		</p>
</div>