<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>帮助中心 | 一分钱助学</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="https://static.1cf.co/favicon.png">
  <link rel="stylesheet" href="https://static.1cf.co/css/amazeui.min.css"/>
  <link rel="stylesheet" href="https://static.1cf.co/css/ocf.css"/>
  <style>
	body {
	  background:#fff;
	}
	.large-icon {
	  font-size: large;
	  margin: 2rem;
	}
	.main {
	  margin-top: 50px;
	}
	.search-form {
	  max-width: 900px;
	  margin: 0 auto;
	}
	.search-input {
	  height: 50px;
	}
	.am-topbar {
	  /*margin-bottom: 0;*/
	}
	.search-field {
	  background:#ededed;
	  padding:60px;
	  height:170px;
	}
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
	.am-panel-group .am-panel-hd {
		    background-color: rgba(255, 255, 255, 0.9);
	}
	.search-form .am-form-icon .am-form-field {
		padding-left:2em!important;
	}
	.search-form .am-form-icon [class*=am-icon-] {
		left: .75em;
	}
</style>
</head>
<body>

<?php
include("header.php");
?>
<div class="am-g am-container">
	<div class="am-cf am-padding">
	  <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">帮助中心</strong> / <small>Help Center</small></div>
	</div>
	<hr/>
	<? if(0) { ?>
	<div class="search-field ocf-panel-shadow">
		<form class="am-form search-form">
			<div class="am-form-group am-form-icon">
				<span class="am-icon-question"></span>
				<input type="text" class="am-form-field am-radius search-input" placeholder="有任何问题，在这里提交...">
			</div>
		</form>
	</div>
	<? } ?>
	<div class="am-container main">
		<div class="am-u-md-3 am-u-sm-6">
			<a href="#sponsors" class="am-text-warning">
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<center>
							<i class="am-icon-support am-icon-lg large-icon"></i>
							<hr>
							<p>关于赞助方</p>
						</center>
					</div>
				</div>
			</a>
		</div>
		<div class="am-u-md-3 am-u-sm-6">
			<a href="#function" class="am-text-success">
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<center>
							<i class="am-icon-connectdevelop am-icon-lg large-icon"></i>
							<hr>
							<p>关于网站功能</p>
						</center>
					</div>
				</div>
			</a>
		</div>
		<div class="am-u-md-3 am-u-sm-6">
			<a href="#aboutus" class="am-text-danger">
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<center>
							<i class="am-icon-users am-icon-lg large-icon"></i>
							<hr>
							<p>关于我们</p>
						</center>
					</div>
				</div>
			</a>
		</div>
		<div class="am-u-md-3 am-u-sm-6">
			<a href="mailto:contact@1cf.co">
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<center>
							<i class="am-icon-question-circle am-icon-lg large-icon"></i>
							<hr>
							<p>有其它问题？</p>
						</center>
					</div>
				</div>
			</a>
		</div>
		<div class="am-u-sm-12">
			<h2 id="sponsors">关于赞助方</h2>
			<!--<ul class="am-list">
				<li><a href="#"><i class="am-icon-question-circle am-icon-fw"></i> 每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
				<li><a href="#"><i class="am-icon-question-circle am-icon-fw"></i> 我把最深沉的秘密放在那里。</a></li>
				<li><a href="#"><i class="am-icon-question-circle am-icon-fw"></i> 你不懂我，我不怪你。</a></li>
				<li><a href="#"><i class="am-icon-question-circle am-icon-fw"></i> 每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
			</ul>-->
			<div class="am-panel-group">
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#sponsors', target: '#q1'}">
							我只是回答了一些问题，那最终是谁来出钱赞助这些物资呢？
						</h4>
					</div>
					<div id="q1" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							咱们的每个项目都有对应的赞助商出资实际购买这些物资，他们的名字会出现在主页的中下方。这些企业和你一样关心我们的项目受助者，将和你一起努力改善他们的生活。我们非常感谢赞助商们的积极参与，他们的捐献使我们的关爱能够真正到达受助者。
						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#sponsors', target: '#q2'}">
							物资会由团队经手吗？
						</h4>
					</div>
					<div id="q2" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							嗯。咱们的每个项目的物资都会经过扬州市广陵区多公益发展中心的全程监管。
						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#sponsors', target: '#q3'}">
							企业为什么需要我答题而不直接赞助物资给受助者呢？
						</h4>
					</div>
					<div id="q3" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							除了社会效益，企业同时也看中能否通过公益行为获得一定宣传效应。在答题过程中，企业的标识和相关题目会穿插其中，因此是你和成千上万网友的参与为需要帮助的人赢得了这一笔一笔的物资。<br>同时相较于企业直接资助，我们更加看重你的参与！我们倡导一个人人参与的微公益理念。
						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#sponsors', target: '#q4'}">
							我/我的公司有兴趣作为赞助未来的公益项目，应该如何参与呢？
						</h4>
					</div>
					<div id="q4" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							详细咨询<a href="mailto:contact@1cf.co">contact@1cf.co</a>。
						</div>
					</div>
				</div>
			</div>
			<h2>关于公益效应</h2>
			<div class="am-panel-group" id="effect">
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#effect', target: '#q5'}">
							 我答题真的可以为公益项目做出贡献么？
						</h4>
					</div>
					<div id="q5" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							是的！你答对的每一道题都使我们对应项目的受助者得到更多的帮助，你的每一次思考都可能会给一个孩子带来一口午餐、两个小时的课程、几页有趣的读物。和你一样，成千上万的朋友们都在关心着我们每一个项目的受助者，聚沙成塔，我们可以让他们的生活也变得一样美好。
						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#effect', target: '#q6'}">
							我怎样了解项目的进程，物资的发放情况呢？
						</h4>
					</div>
					<div id="q6" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							咱们的每个项目都有专门的微博来实时更新项目进展情况，同时在网站上我们会展示相关的收据发票等财务相关信息、图片信息，向你及时地汇报近况。在项目结束后，我们将在Teambition上发布完整的项目总结。
						</div>
					</div>
				</div>
			</div>
			<h2 id="function">关于网站功能</h2>
			<div class="am-panel-group">
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#function', target: '#q7'}">
							 一分钱助学的题目是怎么来的呢？
						</h4>
					</div>
					<div id="q7" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							咱们的一部分题目来自于我们的志愿者，同时我们也会和合作机构（如 江苏微软创新中心 ）一起丰富题目的种类。当然最重要的是，现在作为用户的你也可以参与我们，共同出题，我们更加需要你的支持！ 赶快行动吧！ 不过百密难防一疏，个别问题和答案会有值得斟酌之处。
						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#function', target: '#q8'}">
							一分钱助学是怎样确定每一个问题的答案的？
						</h4>
					</div>
					<div id="q8" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							咱们的维护团队在自己的“专业知识”基础上会仔细考证每一道题目与答案的准确性，当然，百密难防一疏，个别问题和答案会有值得斟酌之处。如果你对我们的题目或者答案有任何的疑问或质疑，跪求拍砖： <a href="mailto:contact@1cf.co">contact@1cf.co</a>
						</div>
					</div>
				</div>
				<? if(0) { ?>
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#function', target: '#q9'}">
							我想知道我出题目应该符合怎样的标准才能被选中？
						</h4>
					</div>
					<div id="q9" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							如果你的题目有趣而又不恶趣；如果你的题目蕴含小知识或者大智慧；如果你的题目难度适中又充满新鲜感与创意，那么，你将会成为下一个出题达人！开动脑筋吧，来考一考所有的题客咯！而且你所出的题目页面也会显示你的ID，给自己和朋友一份惊喜吧！
						</div>
					</div>
				</div>
				<? } ?>
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#function', target: '#q10'}">
							我为什么需要在一分钱助学注册？
						</h4>
					</div>
					<div id="q10" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							不需注册你可以回答问题但不能获得积分或兑换奖品。我们希望可以帮你记录下来你的每一次贡献，同时也希望可以每次给你新鲜的问题，让你可以了解更多有趣的知识。而且注册后可以和全球的志愿者PK，了解自己的本领。所以，用已有的账号开始答题吧！
						</div>
					</div>
				</div>
			</div>
			<h2>关于网站推广</h2>
			<div class="am-panel-group" id="spread">
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#spread', target: '#q11'}">
							 我可以通过哪些途径来了解一分钱助学的最新动态和更多关于公益项目的信息呢？
						</h4>
					</div>
					<div id="q11" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							你可以关注我们的新浪微博、微信公众号等社交媒体，我们会及时更新动态，同时欢迎爱公益爱生活的你热情转发！如果你点击订阅邮件，我们也会定期向您的邮箱发送一些新项目的信息。
						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#spread', target: '#q12'}">
							一分钱助学的宣传渠道有哪些呢？
						</h4>
					</div>
					<div id="q12" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							我们暂时通过各个合作企业和媒体进行宣传，网站的运营也只是出于初始阶段，所以如果你有帮助宣传一分钱助学好的想法或知道愿意了解我们的媒体，请联系<a href="mailto:contact@1cf.co">contact@1cf.co</a>
						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#spread', target: '#q13'}">
							我知道一些公益项目、媒体，请问我能将它们推荐给你们么？
						</h4>
					</div>
					<div id="q13" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							当然可以，我们十分欢迎有爱心热衷于公益事业的你推荐愿意与我们合作的公益项目，媒体，可以给我们发邮件告诉我们具体信息咯。邮件请发送至<a href="mailto:contact@1cf.co">contact@1cf.co</a>
						</div>
					</div>
				</div>
			</div>
			<h2 id="aboutus">关于一分钱助学团队</h2>
			<div class="am-panel-group">
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#aboutus', target: '#q14'}">
							 一分钱助学网站的可持续发展模式是什么？
						</h4>
					</div>
					<div id="q14" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							一分钱助学网站是一个将企业、公益项目、广大网民联系起来的公益平台。我们希望通过网民，企业和媒体的积极支持与参与，不断推动我们的创新与发展。我们希望得到您更多的反馈信息，请联系<a href="mailto:contact@1cf.co">contact@1cf.co</a>
						</div>
					</div>
				</div>

				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">
						<h4 class="am-panel-title am-collapsed" data-am-collapse="{parent: '#aboutus', target: '#q15'}">
							一分钱助学网站背后的团队到底是一群什么样的人呢？
						</h4>
					</div>
					<div id="q15" class="am-panel-collapse am-collapse" style="height: 0px;">
						<div class="am-panel-bd">
							我们是一群热爱公益、希望用创新的方法解决社会问题的中学生！还有一些从事公益项目的组织人员，也有一些五湖四海的大学生们。如果你对网站设计，新媒体运营，或者企业公关等感兴趣，可以联系我们<a href="mailto:contact@1cf.co">contact@1cf.co</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
  	<?php
	include("footer.php");
	?>
</footer>

<!--[if lt IE 9]>
<script src="https://static.1cf.co/mirror/jquery/1.11.1/jquery.min.js"></script>
<script src="https://static.1cf.co/mirror/modernizr/2.8.3/modernizr.js"></script>
<script src="https://static.1cf.co/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="https://static.1cf.co/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="https://static.1cf.co/js/amazeui.min.js"></script>
<script src="https://static.1cf.co/js/ocf.js"></script>

</body>
</html>
