<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title><{if @$title}><{$title}> | <{/if}>一分钱助学｜助学公益网站｜公益事业网站｜助学贫困学生｜公益事业捐款</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="https://static.1cf.co/favicon.png">
  <link rel="stylesheet" href="https://static.1cf.co/css/amazeui.min.css"/>
  <link rel="stylesheet" href="https://static.1cf.co/css/ocf.css"/>
  <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="https://static.1cf.co/js/jquery.min.js"></script>
  <!--<![endif]-->
  <!--[if lte IE 8 ]>
  <script src="https://static.1cf.co/js/jquery.1.11.1.min.js"></script>
  <script src="https://static.1cf.co/js/modernizr.js"></script>
  <script src="https://static.1cf.co/js/amazeui.ie8polyfill.min.js"></script>
  <![endif]-->
</head>
<body>
<{include file="topbar.html"}>
<{include file=$__template_file}>
<{include file="footer.html"}>



<script src="https://static.1cf.co/js/amazeui.min.js"></script>
<!--<script src="https://static.1cf.co/js/ocf.js"></script>-->

</body>
</html>