<style>
body{
  background: url(<{$imgurl}>) 0 / cover fixed;
}
.ocf-cover-img {
	background: url(<{$imgurl}>) 0 / cover fixed;
}
.ocf-panel-question {
	background:rgba(255,255,255,0.8);
	padding:2.5rem;
}
.ocf-panel-options {
	background:transparent;
	border-color:#bbb;
	padding:1rem;
	cursor:normal;
  -webkit-transition:All 1s;
     -moz-transition:All 1s;
       -o-transition:All 1s;
					transition:All 1s;
}
.ocf-panel-options:hover {background:rgba(220,220,220,1);cursor:pointer;}
.ocf-panel-recommend {background:rgba(255,255,255,0.8);}
.ocf-panel-recommend > .am-panel-bd {padding:2.5rem;}
.ocf-progress {margin:0;}
.ocf-progress-text {padding:0;}
.ocf-logo-mxpx{
	display: inline-block;
	height: 21px;
	width: 86px;
	background: url(/i/img/sponsor/1.png) no-repeat left center;
	-webkit-background-size: 86px 21px;
	background-size: 86px 21px;
}
.ocf-question-incorrect {
	color:rgb(221,81,76) !important;
	background:rgb(250,229,228) !important;
}
.ocf-question-correct {
	color:rgb(94,185,94) !important;
	background:rgb(231,245,231) !important;
}
.ocf-hint-left {
	border-bottom:#ccc solid 3px;
	padding-right:2rem;
	float:left;
}
.ocf-hint-right {
	border-bottom:#ccc solid 3px;
	padding-left:2rem;
	float:right;
}
</style>

<div class="am-g am-container am-print-hide">
	<div class="am-u-sm-12 am-u-md-8">
		<div class="am-panel am-panel-default ocf-panel-question am-cf">
			<h2 class="question"></h2>
			<div class="options">
				<div class="am-panel am-panel-default am-radius ocf-panel-options option1" ans="">
				</div>
				<div class="am-panel am-panel-default am-radius ocf-panel-options option2" ans="">
				</div>
				<div class="am-panel am-panel-default am-radius ocf-panel-options option3" ans="">
				</div>
				<div class="am-panel am-panel-default am-radius ocf-panel-options option4" ans="">
				</div>
				<div class="ocf-hint-left">
					<{if $islogin}>
					答对本题，您将得到<span class="combo">10</span>积分
					<{else}>
					答对本题，将捐助推荐项目<span class="combo">10</span>积分
					<{/if}>
				</div>
				<{if !$islogin}>
				<div class="ocf-hint-right">
					<a href="/account/login?register=1">注册用户以累计积分</a>
				</div>
				<{/if}>
				<div class="ocf-hint-right" style="display:none;">
					当前积分：<span class="current-credit">0</span> <a href="/grantee">去捐助</a>
				</div>
			</div>
		</div>
	</div>
	<div class="am-u-sm-12 am-u-md-4">
		<div class="am-panel am-panel-default ocf-panel-recommend grantee-info">
			<div class="am-panel-hd">
				<h3 class="am-panel-title">推荐项目</h3>
			</div>
			<div class="am-panel-bd">
				<div class="am-g am-cf">
					<div class="am-u-sm-12 am-u-sm-centered">
						<center><div class="grantee-image-container"><img src="/i/img/grantee/1.jpg" class="grantee-image am-img-responsive" alt=""/></div></center>
					</div>
					<div align="center" class="am-u-sm-12 am-u-sm-centered am-text-lg grantee">
						<p><{$grantee['name']}></p>
						<p class="am-text-sm">由<a href="<{$grantee['sponsor_link']}>" target="_blank"><{$grantee['sponsor']}></a>捐助</p>
						<p class="am-text-sm">由<a href="<{$grantee['supervisor_link']}>" target="_blank"><{$grantee['supervisor']}></a>监督</p>
					</div>
					<div class="am-u-sm-12">
						<div class="am-progress am-progress-striped ocf-progress am-active">
							<div class="am-progress-bar am-progress-bar-secondary" style="width: 0%;"></div>
						</div>
						<div class="am-text-sm am-u-sm-6 ocf-progress-text" style="text-align:left;"><span class="progress"><{$grantee['rate']}></span>%已达成</div>
						<div class="am-text-sm am-u-sm-6 ocf-progress-text" style="text-align:right;">目标积分：<{round($grantee['target']/1000,2)}>K</div>
					</div>
					<br><br>
					<div class="am-u-sm-12">
						<button type="button" class="am-btn am-btn-primary am-btn-block" data-am-modal="{target: '#popup-1'}"><i class="am-icon-book am-icon-fw"></i> 查看他们的故事</button>
						<button
						  type="button"
						  class="am-btn am-btn-success am-btn-block"
						  style="margin-top:0.9rem;"
						  data-am-modal="{target: '#share'}">
						  <i class="am-icon-slideshare am-icon-fw"></i>分享给好友
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="am-popup" id="popup-1">
	<div class="am-popup-inner">
		<div class="am-popup-hd">
			<h4 class="am-popup-title"><{$grantee['name']}></h4>
			<span data-am-modal-close class="am-close">&times;</span>
		</div>
		<div class="am-popup-bd">
			<{htmlspecialchars_decode($grantee['story'])}>
		</div>
	</div>
</div>

<!--信息按钮-->
<div class="ocf-btn-float am-print-hide" id="ocf-btn-float">
	<a href="javascript:;" data-am-modal="{target: '#info'}" title="图片信息" class="ocf-panel-shadow am-icon-btn am-primary am-icon-arrows-alt info"></a>
</div>

<!--modals-->
<div class="am-modal" tabindex="-1" id="info">
	<div class="am-modal-dialog" style="width:99%; height:99%;">
		<div class="am-u-sm-12 ocf-cover-img">
			<a href="javascript: void(0)" class="am-close" style="float:right; opacity:0.8; color:#fff; font-size:1.5em;" data-am-modal-close>&times;</a>
			<span class="ocf-cover-name">
				<a href="<{$imgcopyrightlink}>" target="_blank" class="am-text-xxl"><{$imgname}></a><br>
				<text class="am-text-lg"><i class="am-icon-location-arrow am-icon-fw"></i> <{$imglocation}></text>
			</span>
			<span class="ocf-cover-copyright">
				<{$imgcopyright}><br><i class="am-icon-windows am-icon-fw"></i> 由Bing&trade;今日美图提供
			</span>
			
		</div>
	</div>
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="share">
	<div class="am-modal-dialog">
		<div class="am-modal-hd">分享给好友
			<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
		</div>
		<div class="am-modal-bd">
			<a href="javascript:;" class="am-icon-btn am-icon-qq"></a>
			<a href="javascript:;" class="am-icon-btn am-icon-weibo"></a>
			<a href="javascript:;" class="am-icon-btn am-icon-tencent-weibo"></a>
			<a href="javascript:;" class="am-icon-btn am-icon-renren"></a>
		</div>
	</div>
</div>



<script>
var step=10;
var flag=1;
var rate=<{$grantee['rate']}>;
$(document).ready(function(){
	$('.am-progress-bar').css("width",rate.toFixed(2) + "%");
	$('.progress').html(rate.toFixed(2));
	getquestion();
	$('.ocf-panel-options').click(function(){
		if (flag==0) {
			flag=1;
			var ans_button=this;
			var answer=$(this).attr("ans");
			$.post("/ajax/submit",{ans:answer},function(r){
				var result=eval("("+r+")");
				if (result['result']>0) {
					<{if $islogin}>
						$(ans_button).addClass("ocf-question-correct").html("连续答对" + result['reward'] + "题！积分+" + result['result']);
					<{else}>
						$(ans_button).addClass("ocf-question-correct").html("连续答对" + result['reward'] + "题！向推荐项目捐助了" + result['result'] + "积分！");
					<{/if}>
				} else {
					$(ans_button).addClass("ocf-question-incorrect").html("回答错误！正确答案是：" + result['answer']);
				}
				step=Math.floor(result['reward']/5)*5+10;
				<{if $islogin}>
					$('.current-credit').html(result['score']);
					$('.ocf-hint-right').show();
				<{/if}>

			});
			if (step>30) step=30;
			//
			setTimeout("getquestion()",3000); 
		}
    });
});
function emphasize(q) {
	if (q==1) {
		if (step>10) $('.ocf-hint-left').addClass("am-text-success");
		setTimeout("$('.ocf-hint-left').removeClass('am-text-success')",1500); 
	}
	else {
		$('.ocf-hint-right').addClass("am-text-success");
		setTimeout("$('.ocf-hint-right').removeClass('am-text-success')",1500); 
	}
}
function getquestion() {
	$.getJSON("/ajax/getquestion",function(result){
		$('.ocf-panel-options').removeClass("ocf-question-correct").removeClass("ocf-question-incorrect");
		$('.question').html(result['description']);
		$('.option1').html(result['opt1']);
		$('.option2').html(result['opt2']);
		$('.option3').html(result['opt3']);
		$('.option4').html(result['opt4']);
		$('.option1').attr("ans",result['ans1']);
		$('.option2').attr("ans",result['ans2']);
		$('.option3').attr("ans",result['ans3']);
		$('.option4').attr("ans",result['ans4']);
		$('.combo').html(step);
		//emphasize(1);
		flag=0;
	});
}
</script>
