  <style>
</style>
<div class="am-container">
<article class="am-article">
  <div class="am-article-bd">
		<fieldset>
			<legend><h2>特别鸣谢</h2></legend>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<img src="/i/img/credit/jsmic.png" class="am-img-responsive am-img-thumbnail"/>
			</div>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<p>项目由江苏微软创新中心孵化，感谢其在项目技术上为我们提供的指导与帮助</p>
			</div>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<p><a href="https://www.teambition.com/" target="_blank"><img src="/i/img/credit/teambition.png" class="am-img-responsive am-img-thumbnail" /></a></p>
			</div>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<p>Teambition为我们项目提供流畅协作体验，助力我们在公益的路上走的更远</p>
			</div>
			
		</fieldset>
		<fieldset>
			<legend><h2>开发工具</h2></legend>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<p><a href="https://www.visualstudio.com/" target="_blank"><img src="/i/img/credit/vs2015.png" class="am-img-responsive am-img-thumbnail" /></a></p>
			</div>
		</fieldset>
		<fieldset>
		<legend><h2>站在巨人的肩膀上</h2></legend>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<div><a href="http://www.amazeui.org" target="_blank"><img src="/i/img/credit/amaze.png" class="am-img-responsive am-img-thumbnail" /></a></div>
				<div class="am-text-center"><a href="https://github.com/amazeui/amazeui/blob/master/LICENSE.md" target="_blank">MIT License</a></div>
			</div>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<div><a href="https://www.microsoft.com/cognitive-services/" target="_blank"><img src="/i/img/credit/mcs.png" class="am-img-responsive am-img-thumbnail" /></a></div>
				<div class="am-text-center"><a href="http://research.microsoft.com/en-us/um/legal/CognitiveServicesTerms20160804.htm" target="_blank">Services Terms</a></div>
			</div>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<div><a href="https://github.com/ecomfe/echarts" target="_blank"><img src="/i/img/credit/echarts.png" class="am-img-responsive am-img-thumbnail" /></a></div>
				<div class="am-text-center"><a href="https://github.com/ecomfe/echarts/blob/master/LICENSE" target="_blank">BSD License</a></div>
			</div>
			<div class="am-u-sm-12 am-u-md-3 am-u-end">
				<div><a href="https://github.com/SpeedPHP/speed" target="_blank"><img src="/i/img/credit/speedphp.png" class="am-img-responsive am-img-thumbnail" /></a></div>
				<div class="am-text-center"><a href="https://github.com/SpeedPHP/speed/blob/master/LICENSE" target="_blank">BSD License</a></div>
			</div>
		</fieldset>
	<div id="people">
		<legend><h2>感谢所有媛猿员 
			<small class="am-text-default" style="color:#333;">排名按首字母排序，不分先后</small></h2></legend>
		<h2>行政（AD）</h2>
		<p>刘承枢、陆文瑄、田甜、张澄璐、张灵欣、张佑杰</p>
		<h2>财务（AD-F）</h2>
		<p>【空缺】</p>
		<h2>法律（AD-L）</h2>
		<p>【空缺】</p>
		
		<h2>人事（HR）</h2>
		<p>梁亦欣、潘慧灵、吴琼、万子昂</p>	
		<h2>记录（HR-A）</h2>
		<p>马文欣、施星宇、徐佳妍</p>
		<h2>题库（HR-VOL）</h2>
		<p>刘梓裕、王新哲、张佑杰</p>
		
		<h2>宣传（MT-M）</h2>
		<p>陈岑、葛晴川、居昊祺、吕可辰、严菲、周楠、郑又菲</p>	
		<h2>开发/技术（MT-T）</h2>
		<p>洪学林、李龙、梁潇、王新哲、夏子煜、虞泽宽、朱佟、张宁、张佑杰</p>
		
		<h2>公关（PR）</h2>
		<p>范馨月、薛烺、周楠</p>
		<h2>外联（PR-L）</h2>
		<p>黄漪然、刘梓裕</p>
		<h2>市场（PR-M）</h2>
		<p>汤心悦、袁杭</p>
		
		<h2>技术安全与运维（SE）</h2>
		<p>何颖</p>
		
	</div>
	<div id="people" style="margin-top:50px;">
		<legend><h2>指导的大拿们 <small class="am-text-default" style="color:#333;">排名按首字母排序，不分先后</small></h2></legend>
		<h2>技术指导</h2>
		<p>倪震祥（江苏省扬州中学计算机教研组组长）</p>
		<h2>项目指导</h2>
		<p>王舒成（江苏省扬州中学高级教师）、王为松、王雄（江苏省扬州中学历史教研组组长）</p>
	</div>
  </div>
</article>
   

  </div>

