<style>
.searchfield{
  float:right;
  width:30%;
}
.filter{
  margin: 1.6rem;
}
.radius{
  border-radius: 30px;
  margin: 0.5rem;
  border: none;
}
.can-see {
	visibility:auto;
}
.wrong {
  background-color: rgba(221, 81, 76, 0.9);
}
.base {
	padding:1rem;
	background:none;
	color:#000;
}
.base:hover {
	background:#eee;
}
@media screen and (max-width:640px) {
	.searchfield {
	  width:100%;
	  margin-top: 1.5rem;
	}
	.can-see {
		display:none;
	}
}
</style>
<div class="am-g am-container">
	<div>	
	<ul class="am-nav am-nav-pills filter">
		<li class="base-filter am-active" cata="all"><a href="javascript:;">全部</a></li>
		<li class="base-filter" cata="0"><a href="javascript:;">基本</a></li>
		<li class="base-filter" cata="1"><a href="javascript:;">拓展</a></li>
		<li class="base-filter" cata="2"><a href="javascript:;"><span class="can-see">第</span>三方</a></li>
		
	</ul>
	</div>
	<{foreach $result as $r}>
		<a href="/?cat=<{$r['name']}>" class="am-u-sm-12 am-u-md-6 am-u-end base base-cata-all base-cata-<{$r['cata']}>">
			<div class="am-u-sm-3">
				<img src="https://static.1cf.co/img/base/<{$r['icon']}>" class="am-img-responsive"/>
			</div>
			<div class="am-u-sm-9">
				<h2><{$r['name']}></h2>
				<p>共有<{$r['num']}>题<br><{$r['date']}>更新</p>
			</div>
		</a>
	<{/foreach}>
</div>
<script>
$(".base-filter").on("click",function() {
	$(".base-filter").removeClass("am-active");
	$(this).addClass("am-active");
	$(".base").hide();
	$(".base-cata-" + $(this).attr("cata")).show();
});
</script>