<div class="am-g am-container">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><{$newuserinfo['name']}>的资料卡</strong> / <small>Profile</small></div>
  </div>
  <div class="am-u-sm-12 am-u-md-6">
    <div class="am-panel am-panel-default">
      <div class="am-panel-bd am-cf">
        <div class="am-u-sm-6">
          <img src="https://static.1cf.co/img/avatar/<{$newuserinfo['avatar']}>" class="am-img-responsive am-img-thumbnail" />
        </div>
        <div class="am-u-sm-12" style="margin-top:2rem;">
          <h1>
            <{$newuserinfo['name']}>
          </h1>
          <div>注册时间：
            <{$newuserinfo['rtime']}>
          </div>
          <div>性别 :
            <{if $newuserinfo['sex']==1}>男
              <{else if $newuserinfo['sex']==2}>女
                <{else}>保密
                  <{/if}>
          </div>
          <div>电子邮箱 :
            <{$newuserinfo['email']}>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="am-u-sm-12 am-u-md-6">
    <div class="am-panel am-panel-default">
      <div class="am-panel-bd am-cf">
        <div class="am-u-sm-6 am-text-center">
          <div class="am-text-xl">
            <{$newuserinfo['ans']}>
          </div>
          <div>回答</div>
        </div>
        <div class="am-u-sm-6 am-text-center">
          <div class="am-text-xl">
            <{round($newuserinfo['cor']/$newuserinfo['ans']*100,2)}>%</div>
          <div>正答</div>
        </div>
        <div class="am-u-sm-12">&nbsp;</div>
        <div class="am-u-sm-6 am-text-center">
          <div class="am-text-xl">
            <{$newuserinfo['score']}>
          </div>
          <div>积分</div>
        </div>
        <div class="am-u-sm-6 am-text-center">
          <div class="am-text-xl">
            <{$newuserinfo['credit']}>
          </div>
          <div>爱心值</div>
        </div>
      </div>
    </div>
  </div>
</div>