<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="/i/favicon.png">
  <title>江苏省教育厅纪念长征胜利80周年知识答题竞赛</title>
  <link type="text/css" rel="stylesheet" href="/i/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/i/fonts/mdi/material-icons.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
	  .ocf-background-wrap{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -999;
      background: url(https://static.1cf.co/img/activity/cz80/bg.jpg) center center no-repeat fixed;
      background-size: cover;
    }
  </style>
</head>
<body>
<div class="ocf-background-wrap" style=""></div>
<main class="main main3">
  <div class="container">
    <h5 class="center-align"><span class="user-school">学校</span> <span class="user-name">姓名</span></h5>
    <p class="center-align">在 <spnn class="user-time">时间</spnn><br>完成了本次知识问答 获得分数</p>
    <h2 class="teal-text center-align score">分数</h2>
  </div>
</main>

<main class="main main2">
  <div class="container">
    <div class="row" style="position: fixed;left: 0;right: 0;">
      <div class="progress" style="margin: 0;>
        <div class="determinate" style="width: 5%"></div>
      </div>
      <div style="padding-top: 8px;">
        <span><text class="current">1</text>/20</span>
        <span style="float:right;">当前分数: <text class="score">0</text></span>
      </div>
    </div>
    
    <div class="row" style="padding-top:30px;">
      <div class="card-panel" style="box-shadow:none;">
        <h4 class="col s12 teal-text text-lighten-1 question">题目加载中 请稍候…</h4>
        <div class="row">
          <div class="col s12 m5">
            <div class="card-panel waves-effect lighten-4 option option1" style="display:block !important;box-shadow:none;border: 1px solid rgba(160, 160, 160, 0.2);" ans="">
              <h5 class="black-text" style="margin:0;">答案1</h5>
            </div>
          </div>
          <div class="col s12 m5">
            <div class="card-panel waves-effect lighten-4 option option2" style="display:block !important;box-shadow:none;border: 1px solid rgba(160, 160, 160, 0.2);" ans="">
              <h5 class="black-text" style="margin:0;">答案2</h5>
            </div>
          </div>
          <div class="col s12 m5">
            <div class="card-panel waves-effect lighten-4 option option3" style="display:block !important;box-shadow:none;border: 1px solid rgba(160, 160, 160, 0.2);" ans="">
              <h5 class="black-text" style="margin:0;">答案3</h5>
            </div>
          </div>
          <div class="col s12 m5">
            <div class="card-panel waves-effect lighten-4 option option4" style="display:block !important;box-shadow:none;border: 1px solid rgba(160, 160, 160, 0.2);" ans="">
              <h5 class="black-text" style="margin:0;">答案4</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form class="col s12 index-form">
      </form>
    </div>
  </div>
</main>

<main class="main main1">
  <div class="container">
    <div class="row center-align">
      <p>请如实填写您的个人信息，您填写的信息将被记录并严格保密</p>
      <p>仅限江苏省高校学生参加</p>
    </div>
    <div class="row">
      <form class="col s12 index-form" method="POST">
        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" name="name" type="text" required>
            <label for="name">姓名</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">school</i>
            <input id="school-name" type="text" placeholder="请在下方列表中选择学校" disabled required>
            <label for="school-name">学校名称</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6">
            <select id="school-type">
              <option value="" disabled selected>学校类型</option>
              <option value="本科高校">本科高校</option>
              <option value="专科高校">专科高校</option>
            </select>
            <label>学校类型</label>
          </div>
          <div class="input-field col s6 m6">
            <select id="school-locate">
              <option value="" disabled selected>地区</option>
              <option value="南京市">南京市</option>
              <option value="无锡市">无锡市</option>
              <option value="徐州市">徐州市</option>
              <option value="常州市">常州市</option>
              <option value="苏州市">苏州市</option>
              <option value="南通市">南通市</option>
              <option value="连云港市">连云港市</option>
              <option value="淮安市">淮安市</option>
              <option value="盐城市">盐城市</option>
              <option value="扬州市">扬州市</option>
              <option value="镇江市">镇江市</option>
              <option value="泰州市">泰州市</option>
              <option value="宿迁市">宿迁市</option>
            </select>
            <label>地区</label>
          </div>
          
        </div>
        <div class="row">
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京大学" value="南京大学" required/>
            <label for="南京大学">南京大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州大学" value="苏州大学" />
            <label for="苏州大学">苏州大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="东南大学" value="东南大学" />
            <label for="东南大学">东南大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京航空航天大学" value="南京航空航天大学" />
            <label for="南京航空航天大学">南京航空航天大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京理工大学" value="南京理工大学" />
            <label for="南京理工大学">南京理工大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-镇江市">
            <input class="with-gap" name="school" type="radio" id="江苏科技大学" value="江苏科技大学" />
            <label for="江苏科技大学">江苏科技大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="中国矿业大学" value="中国矿业大学" />
            <label for="中国矿业大学">中国矿业大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京工业大学" value="南京工业大学" />
            <label for="南京工业大学">南京工业大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="常州大学" value="常州大学" />
            <label for="常州大学">常州大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京邮电大学" value="南京邮电大学" />
            <label for="南京邮电大学">南京邮电大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="河海大学" value="河海大学" />
            <label for="河海大学">河海大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="江南大学" value="江南大学" />
            <label for="江南大学">江南大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京林业大学" value="南京林业大学" />
            <label for="南京林业大学">南京林业大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-镇江市">
            <input class="with-gap" name="school" type="radio" id="江苏大学" value="江苏大学" />
            <label for="江苏大学">江苏大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京信息工程大学" value="南京信息工程大学" />
            <label for="南京信息工程大学">南京信息工程大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="南通大学" value="南通大学" />
            <label for="南通大学">南通大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-盐城市">
            <input class="with-gap" name="school" type="radio" id="盐城工学院" value="盐城工学院" />
            <label for="盐城工学院">盐城工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京农业大学" value="南京农业大学" />
            <label for="南京农业大学">南京农业大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京医科大学" value="南京医科大学" />
            <label for="南京医科大学">南京医科大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="徐州医学院" value="徐州医学院" />
            <label for="徐州医学院">徐州医学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京中医药大学" value="南京中医药大学" />
            <label for="南京中医药大学">南京中医药大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="中国药科大学" value="中国药科大学" />
            <label for="中国药科大学">中国药科大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京师范大学" value="南京师范大学" />
            <label for="南京师范大学">南京师范大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="江苏师范大学" value="江苏师范大学" />
            <label for="江苏师范大学">江苏师范大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-淮安市">
            <input class="with-gap" name="school" type="radio" id="淮阴师范学院" value="淮阴师范学院" />
            <label for="淮阴师范学院">淮阴师范学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-盐城市">
            <input class="with-gap" name="school" type="radio" id="盐城师范学院" value="盐城师范学院" />
            <label for="盐城师范学院">盐城师范学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京财经大学" value="南京财经大学" />
            <label for="南京财经大学">南京财经大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="江苏警官学院" value="江苏警官学院" />
            <label for="江苏警官学院">江苏警官学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京体育学院" value="南京体育学院" />
            <label for="南京体育学院">南京体育学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京艺术学院" value="南京艺术学院" />
            <label for="南京艺术学院">南京艺术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州科技学院" value="苏州科技学院" />
            <label for="苏州科技学院">苏州科技学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="常熟理工学院" value="常熟理工学院" />
            <label for="常熟理工学院">常熟理工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-淮安市">
            <input class="with-gap" name="school" type="radio" id="淮阴工学院" value="淮阴工学院" />
            <label for="淮阴工学院">淮阴工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="常州工学院" value="常州工学院" />
            <label for="常州工学院">常州工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-扬州市">
            <input class="with-gap" name="school" type="radio" id="扬州大学" value="扬州大学" />
            <label for="扬州大学">扬州大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="三江学院" value="三江学院" />
            <label for="三江学院">三江学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京工程学院" value="南京工程学院" />
            <label for="南京工程学院">南京工程学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京审计学院" value="南京审计学院" />
            <label for="南京审计学院">南京审计学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京晓庄学院" value="南京晓庄学院" />
            <label for="南京晓庄学院">南京晓庄学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="江苏理工学院" value="江苏理工学院" />
            <label for="江苏理工学院">江苏理工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-连云港市">
            <input class="with-gap" name="school" type="radio" id="淮海工学院" value="淮海工学院" />
            <label for="淮海工学院">淮海工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="徐州工程学院" value="徐州工程学院" />
            <label for="徐州工程学院">徐州工程学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京特殊教育师范学院" value="南京特殊教育师范学院" />
            <label for="南京特殊教育师范学院">南京特殊教育师范学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="南通理工学院" value="南通理工学院" />
            <label for="南通理工学院">南通理工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京森林警察学院" value="南京森林警察学院" />
            <label for="南京森林警察学院">南京森林警察学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="东南大学成贤学院" value="东南大学成贤学院" />
            <label for="东南大学成贤学院">东南大学成贤学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-泰州市">
            <input class="with-gap" name="school" type="radio" id="泰州学院" value="泰州学院" />
            <label for="泰州学院">泰州学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="无锡太湖学院" value="无锡太湖学院" />
            <label for="无锡太湖学院">无锡太湖学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="金陵科技学院" value="金陵科技学院" />
            <label for="金陵科技学院">金陵科技学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="中国矿业大学徐海学院" value="中国矿业大学徐海学院" />
            <label for="中国矿业大学徐海学院">中国矿业大学徐海学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京大学金陵学院" value="南京大学金陵学院" />
            <label for="南京大学金陵学院">南京大学金陵学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京理工大学紫金学院" value="南京理工大学紫金学院" />
            <label for="南京理工大学紫金学院">南京理工大学紫金学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京航空航天大学金城学院" value="南京航空航天大学金城学院" />
            <label for="南京航空航天大学金城学院">南京航空航天大学金城学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="中国传媒大学南广学院" value="中国传媒大学南广学院" />
            <label for="中国传媒大学南广学院">中国传媒大学南广学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-泰州市">
            <input class="with-gap" name="school" type="radio" id="南京理工大学泰州科技学院" value="南京理工大学泰州科技学院" />
            <label for="南京理工大学泰州科技学院">南京理工大学泰州科技学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-泰州市">
            <input class="with-gap" name="school" type="radio" id="南京师范大学泰州学院" value="南京师范大学泰州学院" />
            <label for="南京师范大学泰州学院">南京师范大学泰州学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京工业大学浦江学院" value="南京工业大学浦江学院" />
            <label for="南京工业大学浦江学院">南京工业大学浦江学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京师范大学中北学院" value="南京师范大学中北学院" />
            <label for="南京师范大学中北学院">南京师范大学中北学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-连云港市">
            <input class="with-gap" name="school" type="radio" id="南京医科大学康达学院" value="南京医科大学康达学院" />
            <label for="南京医科大学康达学院">南京医科大学康达学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-泰州市">
            <input class="with-gap" name="school" type="radio" id="南京中医药大学翰林学院" value="南京中医药大学翰林学院" />
            <label for="南京中医药大学翰林学院">南京中医药大学翰林学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京信息工程大学滨江学院" value="南京信息工程大学滨江学院" />
            <label for="南京信息工程大学滨江学院">南京信息工程大学滨江学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州大学文正学院" value="苏州大学文正学院" />
            <label for="苏州大学文正学院">苏州大学文正学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州大学应用技术学院" value="苏州大学应用技术学院" />
            <label for="苏州大学应用技术学院">苏州大学应用技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州科技学院天平学院" value="苏州科技学院天平学院" />
            <label for="苏州科技学院天平学院">苏州科技学院天平学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-镇江市">
            <input class="with-gap" name="school" type="radio" id="江苏大学京江学院" value="江苏大学京江学院" />
            <label for="江苏大学京江学院">江苏大学京江学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-扬州市">
            <input class="with-gap" name="school" type="radio" id="扬州大学广陵学院" value="扬州大学广陵学院" />
            <label for="扬州大学广陵学院">扬州大学广陵学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="江苏师范大学科文学院" value="江苏师范大学科文学院" />
            <label for="江苏师范大学科文学院">江苏师范大学科文学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-扬州市">
            <input class="with-gap" name="school" type="radio" id="南京邮电大学通达学院" value="南京邮电大学通达学院" />
            <label for="南京邮电大学通达学院">南京邮电大学通达学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-镇江市">
            <input class="with-gap" name="school" type="radio" id="南京财经大学红山学院" value="南京财经大学红山学院" />
            <label for="南京财经大学红山学院">南京财经大学红山学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="江苏科技大学苏州理工学院" value="江苏科技大学苏州理工学院" />
            <label for="江苏科技大学苏州理工学院">江苏科技大学苏州理工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-泰州市">
            <input class="with-gap" name="school" type="radio" id="常州大学怀德学院" value="常州大学怀德学院" />
            <label for="常州大学怀德学院">常州大学怀德学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="南通大学杏林学院" value="南通大学杏林学院" />
            <label for="南通大学杏林学院">南通大学杏林学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京审计学院金审学院" value="南京审计学院金审学院" />
            <label for="南京审计学院金审学院">南京审计学院金审学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-宿迁市">
            <input class="with-gap" name="school" type="radio" id="宿迁学院" value="宿迁学院" />
            <label for="宿迁学院">宿迁学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="江苏第二师范学院" value="江苏第二师范学院" />
            <label for="江苏第二师范学院">江苏第二师范学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="西交利物浦大学" value="西交利物浦大学" />
            <label for="西交利物浦大学">西交利物浦大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-本科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="昆山杜克大学" value="昆山杜克大学" />
            <label for="昆山杜克大学">昆山杜克大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-盐城市">
            <input class="with-gap" name="school" type="radio" id="民办明达职业技术学院" value="民办明达职业技术学院" />
            <label for="民办明达职业技术学院">民办明达职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="无锡职业技术学院" value="无锡职业技术学院" />
            <label for="无锡职业技术学院">无锡职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="江苏建筑职业技术学院" value="江苏建筑职业技术学院" />
            <label for="江苏建筑职业技术学院">江苏建筑职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京工业职业技术学院" value="南京工业职业技术学院" />
            <label for="南京工业职业技术学院">南京工业职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="江苏工程职业技术学院" value="江苏工程职业技术学院" />
            <label for="江苏工程职业技术学院">江苏工程职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州工艺美术职业技术学院" value="苏州工艺美术职业技术学院" />
            <label for="苏州工艺美术职业技术学院">苏州工艺美术职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-连云港市">
            <input class="with-gap" name="school" type="radio" id="连云港职业技术学院" value="连云港职业技术学院" />
            <label for="连云港职业技术学院">连云港职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-镇江市">
            <input class="with-gap" name="school" type="radio" id="镇江市高等专科学校" value="镇江市高等专科学校" />
            <label for="镇江市高等专科学校">镇江市高等专科学校</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="南通职业大学" value="南通职业大学" />
            <label for="南通职业大学">南通职业大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州职业大学" value="苏州职业大学" />
            <label for="苏州职业大学">苏州职业大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="沙洲职业工学院" value="沙洲职业工学院" />
            <label for="沙洲职业工学院">沙洲职业工学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-扬州市">
            <input class="with-gap" name="school" type="radio" id="扬州市职业大学" value="扬州市职业大学" />
            <label for="扬州市职业大学">扬州市职业大学</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-连云港市">
            <input class="with-gap" name="school" type="radio" id="连云港师范高等专科学校" value="连云港师范高等专科学校" />
            <label for="连云港师范高等专科学校">连云港师范高等专科学校</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="江苏经贸职业技术学院" value="江苏经贸职业技术学院" />
            <label for="江苏经贸职业技术学院">江苏经贸职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="九州职业技术学院" value="九州职业技术学院" />
            <label for="九州职业技术学院">九州职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="硅湖职业技术学院" value="硅湖职业技术学院" />
            <label for="硅湖职业技术学院">硅湖职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-泰州市">
            <input class="with-gap" name="school" type="radio" id="泰州职业技术学院" value="泰州职业技术学院" />
            <label for="泰州职业技术学院">泰州职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="常州信息职业技术学院" value="常州信息职业技术学院" />
            <label for="常州信息职业技术学院">常州信息职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="江苏联合职业技术学院" value="江苏联合职业技术学院" />
            <label for="江苏联合职业技术学院">江苏联合职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="江苏海事职业技术学院" value="江苏海事职业技术学院" />
            <label for="江苏海事职业技术学院">江苏海事职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="应天职业技术学院" value="应天职业技术学院" />
            <label for="应天职业技术学院">应天职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="无锡科技职业学院" value="无锡科技职业学院" />
            <label for="无锡科技职业学院">无锡科技职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-盐城市">
            <input class="with-gap" name="school" type="radio" id="盐城卫生职业技术学院" value="盐城卫生职业技术学院" />
            <label for="盐城卫生职业技术学院">盐城卫生职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-扬州市">
            <input class="with-gap" name="school" type="radio" id="扬州环境资源职业技术学院" value="扬州环境资源职业技术学院" />
            <label for="扬州环境资源职业技术学院">扬州环境资源职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="南通科技职业学院" value="南通科技职业学院" />
            <label for="南通科技职业学院">南通科技职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州经贸职业技术学院" value="苏州经贸职业技术学院" />
            <label for="苏州经贸职业技术学院">苏州经贸职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州工业职业技术学院" value="苏州工业职业技术学院" />
            <label for="苏州工业职业技术学院">苏州工业职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州托普信息职业技术学院" value="苏州托普信息职业技术学院" />
            <label for="苏州托普信息职业技术学院">苏州托普信息职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州卫生职业技术学院" value="苏州卫生职业技术学院" />
            <label for="苏州卫生职业技术学院">苏州卫生职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="无锡商业职业技术学院" value="无锡商业职业技术学院" />
            <label for="无锡商业职业技术学院">无锡商业职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="南通航运职业技术学院" value="南通航运职业技术学院" />
            <label for="南通航运职业技术学院">南通航运职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京交通职业技术学院" value="南京交通职业技术学院" />
            <label for="南京交通职业技术学院">南京交通职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-淮安市">
            <input class="with-gap" name="school" type="radio" id="淮安信息职业技术学院" value="淮安信息职业技术学院" />
            <label for="淮安信息职业技术学院">淮安信息职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-泰州市">
            <input class="with-gap" name="school" type="radio" id="江苏农牧科技职业学院" value="江苏农牧科技职业学院" />
            <label for="江苏农牧科技职业学院">江苏农牧科技职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="常州纺织服装职业技术学院" value="常州纺织服装职业技术学院" />
            <label for="常州纺织服装职业技术学院">常州纺织服装职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州农业职业技术学院" value="苏州农业职业技术学院" />
            <label for="苏州农业职业技术学院">苏州农业职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州工业园区职业技术学院" value="苏州工业园区职业技术学院" />
            <label for="苏州工业园区职业技术学院">苏州工业园区职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="太湖创意职业技术学院" value="太湖创意职业技术学院" />
            <label for="太湖创意职业技术学院">太湖创意职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-淮安市">
            <input class="with-gap" name="school" type="radio" id="炎黄职业技术学院" value="炎黄职业技术学院" />
            <label for="炎黄职业技术学院">炎黄职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京科技职业学院" value="南京科技职业学院" />
            <label for="南京科技职业学院">南京科技职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="正德职业技术学院" value="正德职业技术学院" />
            <label for="正德职业技术学院">正德职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="钟山职业技术学院" value="钟山职业技术学院" />
            <label for="钟山职业技术学院">钟山职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="无锡南洋职业技术学院" value="无锡南洋职业技术学院" />
            <label for="无锡南洋职业技术学院">无锡南洋职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="江南影视艺术职业学院" value="江南影视艺术职业学院" />
            <label for="江南影视艺术职业学院">江南影视艺术职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="金肯职业技术学院" value="金肯职业技术学院" />
            <label for="金肯职业技术学院">金肯职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="常州轻工职业技术学院" value="常州轻工职业技术学院" />
            <label for="常州轻工职业技术学院">常州轻工职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="常州工程职业技术学院" value="常州工程职业技术学院" />
            <label for="常州工程职业技术学院">常州工程职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-镇江市">
            <input class="with-gap" name="school" type="radio" id="江苏农林职业技术学院" value="江苏农林职业技术学院" />
            <label for="江苏农林职业技术学院">江苏农林职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-淮安市">
            <input class="with-gap" name="school" type="radio" id="江苏食品药品职业技术学院" value="江苏食品药品职业技术学院" />
            <label for="江苏食品药品职业技术学院">江苏食品药品职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="建东职业技术学院" value="建东职业技术学院" />
            <label for="建东职业技术学院">建东职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京铁道职业技术学院" value="南京铁道职业技术学院" />
            <label for="南京铁道职业技术学院">南京铁道职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="徐州工业职业技术学院" value="徐州工业职业技术学院" />
            <label for="徐州工业职业技术学院">徐州工业职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="江苏信息职业技术学院" value="江苏信息职业技术学院" />
            <label for="江苏信息职业技术学院">江苏信息职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-宿迁市">
            <input class="with-gap" name="school" type="radio" id="宿迁职业技术学院" value="宿迁职业技术学院" />
            <label for="宿迁职业技术学院">宿迁职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京信息职业技术学院" value="南京信息职业技术学院" />
            <label for="南京信息职业技术学院">南京信息职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-扬州市">
            <input class="with-gap" name="school" type="radio" id="江海职业技术学院" value="江海职业技术学院" />
            <label for="江海职业技术学院">江海职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="常州机电职业技术学院" value="常州机电职业技术学院" />
            <label for="常州机电职业技术学院">常州机电职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="江阴职业技术学院" value="江阴职业技术学院" />
            <label for="江阴职业技术学院">江阴职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="无锡城市职业技术学院" value="无锡城市职业技术学院" />
            <label for="无锡城市职业技术学院">无锡城市职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-无锡市">
            <input class="with-gap" name="school" type="radio" id="无锡工艺职业技术学院" value="无锡工艺职业技术学院" />
            <label for="无锡工艺职业技术学院">无锡工艺职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-镇江市">
            <input class="with-gap" name="school" type="radio" id="金山职业技术学院" value="金山职业技术学院" />
            <label for="金山职业技术学院">金山职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州健雄职业技术学院" value="苏州健雄职业技术学院" />
            <label for="苏州健雄职业技术学院">苏州健雄职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-盐城市">
            <input class="with-gap" name="school" type="radio" id="盐城工业职业技术学院" value="盐城工业职业技术学院" />
            <label for="盐城工业职业技术学院">盐城工业职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-淮安市">
            <input class="with-gap" name="school" type="radio" id="江苏财经职业技术学院" value="江苏财经职业技术学院" />
            <label for="江苏财经职业技术学院">江苏财经职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-扬州市">
            <input class="with-gap" name="school" type="radio" id="扬州工业职业技术学院" value="扬州工业职业技术学院" />
            <label for="扬州工业职业技术学院">扬州工业职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州港大思培科技职业学院" value="苏州港大思培科技职业学院" />
            <label for="苏州港大思培科技职业学院">苏州港大思培科技职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="昆山登云科技职业学院" value="昆山登云科技职业学院" />
            <label for="昆山登云科技职业学院">昆山登云科技职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京视觉艺术职业学院" value="南京视觉艺术职业学院" />
            <label for="南京视觉艺术职业学院">南京视觉艺术职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="江苏城市职业学院" value="江苏城市职业学院" />
            <label for="江苏城市职业学院">江苏城市职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京城市职业学院" value="南京城市职业学院" />
            <label for="南京城市职业学院">南京城市职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京机电职业技术学院" value="南京机电职业技术学院" />
            <label for="南京机电职业技术学院">南京机电职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州高博软件技术职业学院" value="苏州高博软件技术职业学院" />
            <label for="苏州高博软件技术职业学院">苏州高博软件技术职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="南京旅游职业学院" value="南京旅游职业学院" />
            <label for="南京旅游职业学院">南京旅游职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南京市">
            <input class="with-gap" name="school" type="radio" id="江苏建康职业学院" value="江苏建康职业学院" />
            <label for="江苏建康职业学院">江苏建康职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州信息职业技术学院" value="苏州信息职业技术学院" />
            <label for="苏州信息职业技术学院">苏州信息职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-宿迁市">
            <input class="with-gap" name="school" type="radio" id="宿迁泽达职业技术学院" value="宿迁泽达职业技术学院" />
            <label for="宿迁泽达职业技术学院">宿迁泽达职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-苏州市">
            <input class="with-gap" name="school" type="radio" id="苏州工业园区服务外包职业学院" value="苏州工业园区服务外包职业学院" />
            <label for="苏州工业园区服务外包职业学院">苏州工业园区服务外包职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="徐州幼儿师范高等专科学校" value="徐州幼儿师范高等专科学校" />
            <label for="徐州幼儿师范高等专科学校">徐州幼儿师范高等专科学校</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-徐州市">
            <input class="with-gap" name="school" type="radio" id="徐州生物工程职业技术学院" value="徐州生物工程职业技术学院" />
            <label for="徐州生物工程职业技术学院">徐州生物工程职业技术学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="江苏商贸职业学院" value="江苏商贸职业学院" />
            <label for="江苏商贸职业学院">江苏商贸职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-南通市">
            <input class="with-gap" name="school" type="radio" id="南通师范高等专科学校" value="南通师范高等专科学校" />
            <label for="南通师范高等专科学校">南通师范高等专科学校</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-扬州市">
            <input class="with-gap" name="school" type="radio" id="扬州中瑞酒店职业学院" value="扬州中瑞酒店职业学院" />
            <label for="扬州中瑞酒店职业学院">扬州中瑞酒店职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-淮安市">
            <input class="with-gap" name="school" type="radio" id="江苏护理职业学院" value="江苏护理职业学院" />
            <label for="江苏护理职业学院">江苏护理职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-连云港市">
            <input class="with-gap" name="school" type="radio" id="江苏财会职业学院" value="江苏财会职业学院" />
            <label for="江苏财会职业学院">江苏财会职业学院</label>
          </div>
          <div class="radio-field col s6 m4 l3 school-selector school school-专科高校-常州市">
            <input class="with-gap" name="school" type="radio" id="江苏城乡建设职业学院" value="江苏城乡建设职业学院" />
            <label for="江苏城乡建设职业学院">江苏城乡建设职业学院</label>
          </div>
          
          
        </div>
        <div class="row">
          <button type="button" class="col s12 m2 offset-m5 waves-effect waves-light btn btn-main-1">开始</button>
        </div>
      </form>
    </div>
  </div>
</main>
<footer class="page-footer teal lighten-2" style="padding-top:0;">
  <div class="footer-copyright teal lighten-1">
    <div class="container">
      © 2016 江苏省教育厅
      <a href="https://1cf.co/" target="_blank" class="grey-text text-lighten-4 right">技术支持：一分钱助学</a>
    </div>
  </div>
</footer>
<script type="text/javascript" src="/i/js/jquery.min.js"></script>
<script type="text/javascript" src="/i/js/materialize.min.js"></script>
<script>

var type="", locate="", flag=1;
$(document).ready(function() {
  $('.main2').hide();
  $('.main3').hide();
  $('select').material_select();
  $('.school').hide();
  $("#school-type").change(function(){
    type=$(this).val();
    $(".school").hide();
    if (type && locate) $(".school-" + type + "-" + locate).show();
  });
  $("#school-locate").change(function(){
    locate=$(this).val();
    $(".school").hide();
    if (type && locate) $(".school-" + type + "-" + locate).show();
  });
  $("#school-name").bind('input propertychange', function() {
    $(".school-selector").hide();
    $(".school-selector:contains(" + $(this).val() + ")").show();
  });
  $(".school-selector").on("click",function(){
    var selector=$(this).find("input");
    $("#school-name").val($(selector).val());
  });
});

$('.btn-main-1').on("click",function() {
  $.ajax({  
    url:'/s/',
    data:$(".index-form").serialize(),  
    type:'post',  
    cache:false,  
    dataType:'json',
    async:false,
    success:function(data) {
      getquestion();
      $(".main1").slideUp(300);
      $(".main2").slideDown(300);
    },  
    error : function() {  
      alert("未填写完整！");  
    }  
  });
});


$(".option").on("click",function() {
  if (!flag) {
    flag=1;
    var ans=this;
    $.ajax( {  
      url:'/s/submit',
      data:{
        ans : $(ans).attr("ans"),  
      },  
      type:'post',  
      cache:false,  
      dataType:'json',
      async:false,
      success:function(data) {
        if(data.result =="1" ){
          Materialize.toast('回答正确！', 3000);
          $(ans).addClass("green");
        }else{
          Materialize.toast('回答错误！正确答案：' + data.ans, 3000);
          $(ans).addClass("red");
        }
        $(".score").html(data.score);
        setTimeout("getquestion()",3000); 
      },  
      error : function() {  
        alert("异常！");  
      }  
    });
  }
});

function getquestion() {
	$.getJSON("/s/getquestion",function(result){
    if (result['result']) {
      $('.option').removeClass("red").removeClass("green");
      $('.question').html(result['description']);
      $('.option1').html(result['opt1']);
      $('.option2').html(result['opt2']);
      $('.option3').html(result['opt3']);
      $('.option4').html(result['opt4']);
      $('.option1').attr("ans",result['ans1']);
      $('.option2').attr("ans",result['ans2']);
      $('.option3').attr("ans",result['ans3']);
      $('.option4').attr("ans",result['ans4']);
      $('.current').html(result['current']);
      var current=parseInt(result['current']);
      $('.determinate').css("width", current*5 + "%");
      flag=0;
    } else {
      $(".main2").slideUp(300);
      window.location.replace("/s/result?id=" + result['id']);
    }
	});
}

</script>
</body>
</html>